@import "tailwindcss";

@theme {
	--font-nbPro: "NB International Pro", sans-serif;
	--color-portlandOrange: #ff5e38;
	--sectionGap: clamp(1rem, 5%, 6rem);
}

h1 {
	@apply text-[clamp(1.5rem,calc(3vw+1rem),5.7rem)] leading-[clamp(2rem,calc(3vw+1.5rem),6.2rem)];
}
h5,
header a,
.see-models {
	@apply text-[clamp(1rem,calc(1vw+0.5rem),2rem)];
}
h6 {
	@apply text-[clamp(.9rem,calc(1vw+0.20rem),1.5rem)];
}

/* Lenis */
html.lenis,
html.lenis body {
	@apply h-auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	@apply overscroll-contain;
}
.lenis.lenis-stopped {
	@apply overflow-clip;
}
.lenis.lenis-smooth iframe {
	@apply pointer-events-none;
}

/* Nav Menu */
#main-menu .menu-item {
	@apply overflow-hidden font-light text-[clamp(1.5rem,calc(3vw+1rem),5.7rem)] leading-[clamp(1.5rem,calc(3vw+1rem),5.7rem)];
}
.menu-item.current-menu-item {
	@apply border-b-1 border-b-black;
}
.menu-item > a {
	@apply block;
	--filp-duration: 0.325s;
	transition: translate var(--filp-duration),
		transform 0s calc(var(--filp-duration) / 2);
	transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
}
.menu-item:hover > a,
.menu-item:focus > a {
	translate: 0 -2lh;
	transform: translateY(2lh);
}

/* About Us */
#about-us .lineParent {
	@apply relative overflow-hidden max-w-max;
}

/** Fonts **/
@font-face {
	font-family: "NB International Pro";
	src: url("../asset/fonts/nb_international_pro_light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "NB International Pro";
	src: url("../asset/fonts/nb_international_pro_regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}
